<!-- Styles -->
<style>
body {
  font-family: 'Open Sans', sans-serif;
}
#chartdiv, #chartdivExt {
  width: 100%;
  height: 500px;
}
</style>

<!-- Resources -->
<script src="https://www.amcharts.com/lib/4/core.js"></script>
<link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
<script src="https://www.amcharts.com/lib/4/charts.js"></script>
<script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>

<!-- Chart code -->
<script src="funnel.js"></script>

<!-- HTML -->
<br>
<div id="chartdiv"></div>
<br>
<br>
<br>
<br>
<div id="treemap"></div>